@font-face{
    font-family: marvel;
    src:url(Marvel.ttf)
}
@font-face{
    font-family: option1;
    src:url(BaqacentsSemiBold-yqeq.ttf)
}
body {
    font-family: Tahoma, sans-serif;
    background-color: #EAE4E4;
    font-size: 2.3ex;
    text-indent: 40px;
    padding: 3%;
}
h1, h2, h3, h4, h5, h6 {
    color: #8C1B1B;
    font-family: option1;
    word-spacing: 2px;
    text-indent: 0px;
}
header{
    text-align: center;
    padding-top: 0em;
    padding-bottom: 0em;
}
h1{
    font-size: 9ex;
    line-height: 1em;
}
h2{
    font-size: 3.5ex;
}
h3{
    font-size: 3ex;
}
h4{
    font-size: 2.3ex;
}
header>h2{
    font-size: 4.5ex;
    line-height: 0em;
}
header>h4{
    font-size: 2.5ex;
}
#dropdown .VirtualizedSelectFocusedOption{
    background-color: #BBBFC7;
}
#mor_dropdown .VirtualizedSelectFocusedOption{
    background-color: #BBBFC7;
}
th{
    color: #8C1B1B;
    font-family: option1;
    font-size: 1.25em;
}
td{
    font-family: Tahoma;
    font-size: 0.85em;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
img#bw_aou_img{
    float: right;
    padding-right: 3%;
    padding-left:5%;
    padding-bottom:1%;
    padding-top: 1%;
}
img#sw_aou_img{
    float: left;
    padding-right: 3%;
    padding-left:5%;
    padding-top:2%;
}
img#bw_aiw_img{
    float: right;
    padding-right: 3%;
    padding-left:5%;
    padding-top:1%;
}
img#sw_aiw_img{
    float: left;
    padding-left:5%;
    padding-right:3%;
    padding-top:5%;
    padding-bottom:5%;
}
img#race_img{
    float: right;
    padding-left:5%;
    padding-right:3.5%;
    padding-top:4.5%;
    padding-bottom:3%;
}
img#sexuality_img{
    float: right;
    padding-left:5%;
    padding-right:3%;
    padding-top:1%;
    padding-bottom:2.5%;
}
img#mcu_rep_img{
    float:right;
    padding-top:3%;
    padding-right: 1%;
}
img#mcu_rep_img1{
    float:right;
    padding-top:3%;
    padding-right: 1%;
}
img#mcu_rep_img2{
    float:right;
    padding-top:3%;
    padding-right: 1%;
}
img#mcu_rep_img3{
    float:right;
    padding-top:3%;
    padding-right: 1%;
}
h4#wanda{
    padding-top:2%;
}
h3#infinity_war{
    padding-top:5%;
}
div#table{
    float: left;
    padding-left:7%;
    padding-right: 5.5%;
}
h4#movies1{
    padding-left:14.5%;
}
div#table2{
    float: left;
    padding-left:7%;
    padding-right: 5.5%;
}
h4#movie2{
    padding-left:15%;
}
div#table3{
    float: left;
    padding-left:7%;
    padding-right: 5%;
}
h4#movie3{
    padding-left:13.5%;
}
div#table4{
    float: left;
    padding-left:7%;
    padding-right: 5.5%;
}
h4#movie4{
    padding-left:14%;
}
#rep_bar_graph{
    width: 45%;
}
#rep_time_graph{
    width: 50%;
}
#dropdown{
    padding-left: 5%;
}
#int_pie_graph{
    width:45%;
}
#int_bar_graph{
    width: 45%;
}
#mor_bar_graph{
    width: 45%;
}
#mor_pie_chart{
    width: 45%;
}
#villian_img{
    width: 45%;
    float:right;
    padding-right: 5%;
    padding-left:5%;
    max-width: 600px;
}
#sexuality_img{
    width: 48%;
}
#race_img{
    width: 45%;
}
#sw_aiw_img{
    width: 33%;
    max-width: 300px;
}
#sw_aou_img{
    width: 30%;
    max-width: 270px;
}
#bw_aou_img{
    width: 22%;
    max-width: 200px;
}
#bw_aiw_img{
    width: 33%;
    max-width: 300px;
}
#mcu_rep_img{
    width: 50%;
}
#mcu_rep_img2{
    width: 50%;
}
#mcu_rep_img3{
    width: 50%;
}
#mcu_rep_img1{
    width: 50%;
}